{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Recommended Movies</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
    </div>
</div>
{% if movies %}
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for movie in movies %}
        {% include 'components/movie_card.html' %}
    {% endfor %}
</div>
{% else %}
    <p class="mt-4">No movies found.</p>
{% endif %}

{% endblock %}